<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Jobber - Job Board HTML5 Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jobber - Job Board HTML5 Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="css/flaticon/flaticon.css" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />

    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
    <link rel="stylesheet" href="css/magnific-popup/magnific-popup.css" />

    <!-- Template Style -->
    <link rel="stylesheet" href="css/style.css" />

  </head>
<body>

<!--=================================
header -->
<header class="header bg-dark">
  <nav class="navbar navbar-static-top navbar-expand-lg header-sticky">
    <div class="container-fluid">
      <button id="nav-icon4" type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
          <span></span>
          <span></span>
          <span></span>
      </button>
      <a class="navbar-brand" href="index.html">
        <img class="img-fluid" src="images/logo.svg" alt="logo">
      </a>
      <div class="navbar-collapse collapse justify-content-start">
        <ul class="nav navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home<i class="fas fa-chevron-down fa-xs"></i></a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="index.html">index Default</a></li>
              <li><a class="dropdown-item" href="index-02.html">index 02</a></li>
              <li><a class="dropdown-item" href="index-03.html">index 03</a></li>
              <li><a class="dropdown-item" href="index-map.html">index map</a></li>
              <li><a class="dropdown-item" href="index-slider.html">index Slider</a></li>
              <li><a class="dropdown-item" href="index-bg-video.html">index bg video</a></li>
              <li><a class="dropdown-item" href="index-splash.html">index splash</a></li>
            </ul>
          </li>
          <li class="dropdown nav-item active">
            <a href="properties.html" class="nav-link" data-bs-toggle="dropdown">Pages<i class="fas fa-chevron-down fa-xs"></i></a>
            <ul class="dropdown-menu megamenu dropdown-menu-lg">
              <li>
                <div class="row">
                  <div class="col-sm-4 mb-2 mb-sm-0">
                    <h6 class="mb-3 nav-title">Pages</h6>
                    <ul class="list-unstyled mt-lg-3">
                      <li><a href="about.html">About</a></li>
                      <li><a href="services.html">Services</a></li>
                      <li><a href="pricing.html">Pricing</a></li>
                      <li class="active"><a href="career.html">Career</a></li>
                      <li><a href="advertising.html">Advertising</a></li>
                      <li><a href="contact-us.html">Contact Us</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-4 mb-2 mb-sm-0">
                    <h6 class="mb-3 nav-title">Pages</h6>
                    <ul class="list-unstyled mt-lg-3">
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="blog-detail.html">Blog Detail</a></li>
                      <li><a href="post-a-job.html">Post a Job</a></li>
                      <li><a href="faqs.html">Faq</a></li>
                      <li><a href="browse-categories.html">Browse Categories</a></li>
                      <li><a href="browse-locations.html">Browse Locations</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-4">
                    <h6 class="mb-3 nav-title">Pages</h6>
                    <ul class="list-unstyled mt-lg-3">
                      <li><a href="login.html">Login</a></li>
                      <li><a href="register.html">Register</a></li>
                      <li><a href="coming-soon.html">Coming soon</a></li>
                      <li><a href="404-error.html">404 Error</a></li>
                      <li><a href="terms-and-conditions.html">T&C</a></li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="agency-logo pt-4 pb-3">
                      <h6 class="mb-3 nav-title">Top Agency</h6>
                      <ul class="list-unstyled">
                        <li>
                          <div class="job-list">
                            <div class="job-list-logo">
                              <img class="img-fluid" src="images/svg/07.svg" alt="">
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="job-list">
                            <div class="job-list-logo">
                              <img class="img-fluid" src="images/svg/06.svg" alt="">
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="job-list">
                            <div class="job-list-logo">
                              <img class="img-fluid" src="images/svg/05.svg" alt="">
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="job-list">
                            <div class="job-list-logo">
                              <img class="img-fluid" src="images/svg/04.svg" alt="">
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="job-list">
                            <div class="job-list-logo">
                              <img class="img-fluid" src="images/svg/03.svg" alt="">
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Listing <i class="fas fa-chevron-down fa-xs"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="job-grid.html">Job Grid</a></li>
              <li><a class="dropdown-item" href="job-listing.html">Job Listing</a></li>
              <li><a class="dropdown-item" href="job-detail.html">Job Detail</a></li>
              <li><a class="dropdown-item" href="job-listing-map.html">Job Listing Map</a></li>
            </ul>
          </li>
          <li class="dropdown nav-item mega-menu">
            <a href="javascript:void(0)" class="nav-link" data-bs-toggle="dropdown">Elements<i class="fas fa-chevron-down fa-xs"></i></a>
            <ul class="dropdown-menu megamenu">
              <li>
                <div class="row">
                  <div class="col-sm-6 col-lg-5 mb-3 mb-lg-0">
                    <h6 class="mb-3 nav-title">Search Types</h6>
                    <ul class="list-unstyled mt-lg-3">
                      <li><a href="search-style-under-banner.html">Search style under banner</a></li>
                      <li><a href="search-style-above-banner.html">Search style above banner</a></li>
                      <li><a href="search-style-below-banner.html">Search style below banner</a></li>
                      <li><a href="search-style-advanced.html">Advanced Search style</a></li>
                      <li><a href="search-style-classic.html">Search style classic</a></li>
                      <li><a href="search-style-with-filter.html">Search style with filter</a></li>
                      <li><a href="search-style-advanced-02.html">Advanced Search style 02 </a></li>
                      <li><a href="search-style-advanced-03.html">Advanced Search style 03 </a></li>
                    </ul>
                  </div>
                  <div class="col-sm-6 col-lg-3 mb-3 mb-sm-0">
                    <h6 class="mb-3 nav-title">Elements</h6>
                    <ul class="list-unstyled mt-lg-3">
                      <li><a href="element-feature-box.html">Feature box</a></li>
                      <li><a href="element-testimonials.html">Testimonials</a></li>
                      <li><a href="element-accordion.html">Accordion</a></li>
                      <li><a href="element-tabs.html">Tabs</a></li>
                      <li><a href="element-typography.html">Typography</a></li>
                      <li><a href="element-counter.html">counter</a></li>
                      <li><a href="element-countdown.html">Countdown</a></li>
                      <li><a href="element-category.html">Category</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-6 col-lg-4">
                    <div class="menu-banner bg-dark p-3 pt-4 text-center border-radius h-100 d-none d-lg-block">
                        <h5 class="text-primary mb-3 pt-2">Advertise your job with us</h5>
                        <span class="text-light"> Starting from</span>
                        <h3 class="text-white my-3">$99 <small class="fw-normal">/mo</small></h3>
                        <p class="text-primary p-2 small text-white">Save 30% for new customer</p>
                        <a class="btn btn-light btn-sm" href="post-a-job.html">Post a job now!</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Employer <i class="fas fa-chevron-down fa-xs"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="employer-grid.html">Employer Grid</a></li>
              <li><a class="dropdown-item" href="employer-listing.html">Employer list</a></li>
              <li><a class="dropdown-item" href="employer-detail.html">Employer detail</a></li>
              <li><a class="dropdown-item" href="employer-listing-map.html">Employer Listing Map</a></li>
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="javascript:void(0)">Dashboard <i class="fas fa-chevron-right fa-xs"></i></a>
                  <ul class="dropdown-menu left-side">
                    <li><a class="dropdown-item" href="dashboard-employer.html">Dashboard</a></li>
                    <li><a class="dropdown-item" href="dashboard-employer-my-profile.html">Profile</a></li>
                    <li><a class="dropdown-item" href="dashboard-employer-change-password.html">Change Password </a></li>
                    <li><a class="dropdown-item" href="dashboard-employer-manage-candidates.html">Manage Candidates</a></li>
                    <li><a class="dropdown-item" href="dashboard-employer-manage-jobs.html">Manage Jobs</a></li>
                    <li><a class="dropdown-item" href="dashboard-employer-post-new-job.html">Post New Job</a></li>
                    <li><a class="dropdown-item" href="dashboard-employer-pricing.html">Pricing</a></li>
                  </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Candidates <i class="fas fa-chevron-down fa-xs"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="candidates-grid.html">Candidates Grid</a></li>
              <li><a class="dropdown-item" href="candidates-listing.html">Candidates list</a></li>
              <li><a class="dropdown-item" href="candidate-detail.html">Candidates detail</a></li>
              <li><a class="dropdown-item" href="candidates-listing-map.html">Candidates Listing Map</a></li>
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="javascript:void(0)">Dashboard <i class="fas fa-chevron-right fa-xs"></i></a>
                  <ul class="dropdown-menu left-side">
                    <li><a class="dropdown-item" href="dashboard-candidates.html">Dashboard</a></li>
                    <li><a class="dropdown-item" href="dashboard-candidates-my-profile.html">Profile</a></li>
                    <li><a class="dropdown-item" href="dashboard-candidates-change-password.html">Change Password </a></li>
                    <li><a class="dropdown-item" href="dashboard-candidates-my-resume.html">My Resume</a></li>
                    <li><a class="dropdown-item" href="dashboard-candidates-manage-jobs.html">Manage Jobs</a></li>
                    <li><a class="dropdown-item" href="dashboard-candidates-saved-jobs.html">Saved Jobs</a></li>
                    <li><a class="dropdown-item" href="dashboard-candidates-pricing.html">Pricing</a></li>
                  </ul>
              </li>
              <li><a class="dropdown-item" href="my-resume.html">My Resume <span class="badge bg-danger ms-2">CV</span></a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="add-listing">
          <div class="login d-inline-block me-4">
            <a href="login.html" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"><i class="far fa-user pe-2"></i>Sign in</a>
          </div>
          <a class="btn btn-white btn-md" href="post-a-job.html"> <i class="fas fa-plus-circle"></i>Post a job</a>
        </div>
    </div>
  </nav>
</header>
<!--=================================
header -->

<!--=================================
inner banner -->
<div class="header-inner bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-primary">Career</h2>
        <ol class="breadcrumb mb-0 p-0">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>Career</span></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--=================================
inner banner -->

<!--=================================
about -->
<section class="space-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-4 mb-lg-0">
         <div class="embed-responsive embed-responsive-16by9">
          <iframe  height="370" src="https://www.youtube.com/embed/LgvseYYhqU0"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-lg-6 align-self-center">
        <div class="section-title-02">
          <h2>Why You Choose Job Among Other Job Site?</h2>
          <p>I truly believe Augustine’s words are true and if you look at history you know it is true. There are many people in the world with amazing talents who realize only a small percentage of their potential. </p>
        </div>
        <ul class="ps-3 mb-0">
          <li class="mb-2">Commitment is something that comes from understanding that!</li>
          <li class="mb-2">Its price and then having the willingness to pay that price.</li>
          <li class="mb-2">his is important because nobody wants to put significant.</li>
          <li class="mb-0">Effort into something, only to find. </li>
        </ul>
      </div>
    </div>
    <div class="row pt-4 pt-md-5">
      <div class="col-lg-3 col-sm-6">
        <div class="counter mb-5 mb-lg-0 justify-content-center">
          <div class="counter-icon">
            <i class="flaticon-curriculum"></i>
          </div>
          <div class="counter-content">
            <span class="timer mb-1" data-to="1227" data-speed="10000">1227</span>
            <label class="mb-0">Jobs Posted</label>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="counter mb-5 mb-lg-0 justify-content-center">
          <div class="counter-icon">
            <i class="flaticon-resume"></i>
          </div>
          <div class="counter-content">
            <span class="timer mb-1" data-to="123" data-speed="10000">123</span>
            <label class="mb-0">Jobs Filled</label>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="counter mb-5 mb-sm-0 justify-content-center">
          <div class="counter-icon">
            <i class="flaticon-suitcase"></i>
          </div>
          <div class="counter-content">
            <span class="timer mb-1" data-to="170" data-speed="10000">170</span>
            <label class="mb-0">Companies</label>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="counter justify-content-center">
          <div class="counter-icon">
            <i class="flaticon-users"></i>
          </div>
          <div class="counter-content">
            <span class="timer mb-1" data-to="127" data-speed="10000">127</span>
            <label class="mb-0">Members</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
about -->

<!--=================================
portfolio -->
<section class="space-pb popup-gallery overflow-hidden">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-3 mb-2 mb-md-3 align-self-end">
        <a class="portfolio-img" href="images/gallery/04.jpg"><img class="img-fluid" src="images/gallery/04.jpg" alt=""></a>
      </div>
      <div class="col-md-3 mb-2 mb-md-3 align-self-end">
        <a class="portfolio-img" href="images/gallery/05.jpg"><img class="img-fluid w-100" src="images/gallery/05.jpg" alt=""></a>
      </div>
      <div class="col-md-3 mb-2 mb-md-3 align-self-end">
        <a class="portfolio-img" href="images/gallery/06.jpg"><img class="img-fluid" src="images/gallery/06.jpg" alt=""></a>
      </div>
      <div class="col-md-3 mb-2 mb-md-3">
        <a class="portfolio-img" href="images/gallery/07.jpg"><img class="img-fluid" src="images/gallery/07.jpg" alt=""></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 mt-0 mt-md-3">
        <a class="portfolio-img" href="images/gallery/08.jpg"><img class="img-fluid" src="images/gallery/08.jpg" alt=""></a>
      </div>
      <div class="col-md-3 mt-2 mt-md-3">
        <a class="portfolio-img" href="images/gallery/09.jpg"><img class="img-fluid w-100" src="images/gallery/09.jpg" alt=""></a>
      </div>
      <div class="col-md-3 mt-2 mt-md-3">
        <a class="portfolio-img" href="images/gallery/10.jpg "><img class="img-fluid" src="images/gallery/10.jpg" alt=""></a>
      </div>
      <div class="col-md-3 mt-2 mt-md-3">
        <a class="portfolio-img" href="images/gallery/11.jpg"><img class="img-fluid" src="images/gallery/11.jpg" alt=""></a>
      </div>
    </div>
  </div>
</section>
<!--=================================
portfolio -->

<!--=================================
Advertise A Job -->
<section class="space-pb">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-02 text-center">
          <h2>Here are just a some of the reasons you will love it here.</h2>
          <p>If success is a process with a number of defined steps, then it is just like any other process. So, what is the first step in any process?</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 boder">
        <div class="feature-info h-100 mb-4 mb-lg-0">
          <div class="feature-info-icon mb-3">
            <i class="flaticon-team"></i>
          </div>
          <div class="feature-info-content">
            <h5 class="text-black mb-3">Best talented people</h5>
            <p>Remind yourself the only thing stopping you is yourself.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature-info h-100 mb-4 mb-lg-0">
          <div class="feature-info-icon mb-3">
            <i class="flaticon-chat"></i>
          </div>
          <div class="feature-info-content">
            <h5 class="text-black mb-3">Easy to communicate</h5>
            <p>Success is something of which we all want more.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature-info h-100 mb-4 mb-md-0">
          <div class="feature-info-icon mb-3">
            <i class="flaticon-job-3"></i>
          </div>
          <div class="feature-info-content">
            <h5 class="text-black mb-3">Easy to find candidate</h5>
            <p>Most people believe that success is difficult.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature-info h-100">
          <div class="feature-info-icon mb-3">
            <i class="flaticon-job-2"></i>
          </div>
          <div class="feature-info-content">
            <h5 class="text-black mb-3">Global recruitment option</h5>
            <p>believing in yourself and those around you.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
Advertise A Job -->

<!--=================================
Faq -->
<section class="space-pb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-ms-10">
        <div class="section-title-02 text-center">
          <h2>Current Career Opportunities At Jobber</h2>
          <p>We hire the best and illustrious for our growing team. Check out the jobs posted below and get in touch to apply.</p>
        </div>
        <div class="accordion accordion-style" id="accordion-Two">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Is registration on the Jobber free? <i class="fas fa-chevron-down fa-xs"></i></button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion-Two">
              <div class="accordion-body">
                <p>Motivation is not an accident or something that someone else can give you — you are the only one with the power to motivate you. Motivation cannot be an external force, it must come from within as the natural product of your desire to achieve something and your belief that you are capable to succeed at your goal. Success is something of which we all want more.</p>
                <ol class="ps-3 mb-3">
                  <li>Commitment is something that comes from understanding that!</li>
                  <li>Its price and then having the willingness to pay that price.</li>
                  <li>his is important because nobody wants to put significant.</li>
                  <li>Effort into something, only to find. </li>
                  <li>Out after the fact that the price was too high.</li>
                </ol>
                <a class="btn btn-light btn-sm" href="#">Apply now!</a>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">I'm new to Jobber. How can I register for free? <i class="fas fa-chevron-down fa-xs"></i></button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion-Two">
              <div class="accordion-body">
                <p>We all carry a lot of baggage, thanks to our upbringing. The majority of people carry with them, an entire series of self-limiting beliefs that will absolutely stop, and hold them back from, success. Things like “I’m not good enough”, “I’m not smart enough”, “I’m not lucky enough”, and the worst, We carry them with us like rocks in a knapsack, and then use them to sabotage our success. So, how twisted is that?!?!</p>
                <ol class="ps-3 mb-3">
                  <li>Making the decision</li>
                  <li>Clarity – developing the Vision</li>
                  <li>Focus – having a plan</li>
                  <li>Belief – believing in yourself and those around you</li>
                  <li>Taking action – practice Ready, Fire, Aim…</li>
                </ol>
                <a class="btn btn-light btn-sm" href="#">Apply now!</a>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">How does Jobber work for job seekers? <i class="fas fa-chevron-down fa-xs"></i></button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordion-Two">
              <div class="accordion-body">
                <p>For those of you who are serious about having more, doing more, giving more and being more, success is achievable with some understanding of what to do, some discipline around planning and execution of those plans and belief that you can achieve your desires.</p>
                <ol class="ps-3 mb-3">
                  <li>Commitment is something that comes from understanding that!</li>
                  <li>Its price and then having the willingness to pay that price.</li>
                  <li>his is important because nobody wants to put significant.</li>
                  <li>Effort into something, only to find. </li>
                  <li>Out after the fact that the price was too high.</li>
                </ol>
                <a class="btn btn-light btn-sm" href="#">Apply now!</a>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingfour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">How do I search for job adverts on the jobs portal? <i class="fas fa-chevron-down fa-xs"></i></button>
            </h2>
            <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordion-Two">
              <div class="accordion-body">
                <p>“Nothing changes until something moves” – this is the battle cry of author and journalist Robert Ringer. And he is absolutely correct. Not all of the decision-making, clarity, planning, focus and belief in the world, will get you to where you want to be, without taking action!</p>
                <ol class="ps-3 mb-3">
                  <li>You will run aground and become hopelessly stuck in the mud</li>
                  <li>Its price and then having the willingness to pay that price.</li>
                  <li>You will drift aimlessly until you arrive back at the original dock</li>
                  <li>Effort into something, only to find. </li>
                  <li>Taking action – practice Ready, Fire, Aim…</li>
                </ol>
                <a class="btn btn-light btn-sm" href="#">Apply now!</a>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingfive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">What can I do so that multiple employers will contact me? <i class="fas fa-chevron-down fa-xs"></i></button>
            </h2>
            <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive" data-bs-parent="#accordion-Two">
              <div class="accordion-body">
                <p>Franklin’s extraordinary success in life and politics can be attributed to his perseverance to overcome his personal liabilities, and his desire to constantly become better. Next time you really want to achieve something, take time to focus on your own personal journal. What is your temptation that is standing in your way to greatness? What can you do to form the habit of becoming a success?</p>
                <ol class="ps-3 mb-3">
                  <li>Commitment is something that comes from understanding that!</li>
                  <li>Its price and then having the willingness to pay that price.</li>
                  <li>his is important because nobody wants to put significant.</li>
                  <li>Effort into something, only to find. </li>
                </ol>
                <a class="btn btn-light btn-sm" href="#">Apply now!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4 text-center">
      <div class="col-12">
        <p>Don’t see a role that fits? Send us your resume.</p>
        <a class="btn btn-primary" href="#">Submit Your Resume</a>
      </div>
    </div>
  </div>
</section>
<!--=================================
Faq -->

<!--=================================
feature info section -->
<section class="feature-info-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-lg-0 mb-4">
        <div class="feature-info feature-info-02 p-4 p-lg-5 bg-primary">
          <div class="feature-info-icon mb-3 mb-sm-0 text-dark">
            <i class="flaticon-team"></i>
          </div>
          <div class="feature-info-content text-white ps-sm-4 ps-0">
            <p>Jobseeker</p>
            <h5 class="text-white">Looking For Job?</h5>
          </div>
          <a class="ms-auto align-self-center" href="#">Apply now<i class="fas fa-long-arrow-alt-right"></i> </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="feature-info feature-info-02 p-4 p-lg-5 bg-dark">
          <div class="feature-info-icon mb-3 mb-sm-0 text-primary">
            <i class="flaticon-job-3"></i>
          </div>
          <div class="feature-info-content text-white ps-sm-4 ps-0">
            <p>Recruiter</p>
            <h5 class="text-white">Are You Recruiting?</h5>
          </div>
          <a class="ms-auto align-self-center" href="#">Post a job<i class="fas fa-long-arrow-alt-right"></i> </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
feature info section -->

<!--=================================
footer -->
<footer class="footer bg-light">
  <div class="position-relative">
    <svg class="footer-shape"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="100%" height="85px">
      <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
        d="M-0.000,-0.001 L1923.000,-0.001 L1923.000,84.999 C1608.914,41.669 1279.532,19.653 962.500,19.000 C635.773,18.326 323.692,40.344 -0.000,84.999 C-0.000,-83.334 -0.000,168.332 -0.000,-0.001 Z"/>
      </svg>
    </div>
    <div class="container pt-5">
      <div class="row mt-5">
        <div class="col-lg-3 col-md-6">
          <div class="footer-link">
            <h5 class="text-dark mb-4">Trending Job</h5>
            <ul class="list-unstyled">
              <li><a href="#">Browse Jobs</a></li>
              <li><a href="#">Browse Categories</a></li>
              <li><a href="#">Submit Resume</a></li>
              <li><a href="#">Candidate Dashboard</a></li>
              <li><a href="#">Job Alerts</a></li>
              <li><a href="#">My Bookmarks</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
          <div class="footer-link">
            <h5 class="text-dark mb-4">Trending Companies</h5>
            <ul class="list-unstyled">
              <li><a href="#">Shortcodes</a></li>
              <li><a href="#">Job Page</a></li>
              <li><a href="#">Job Page Alternative</a></li>
              <li><a href="#">Resume Page</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="contact-us.html">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
          <h5 class="text-dark mb-4">Subscribe Us</h5>
          <div class="footer-subscribe">
            <p>Sign Up to our Newsletter to get the latest news and offers.</p>
            <form>
              <div class="form-group mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </div>
              <button type="submit" class="btn btn-primary btn-md">Get Notified</button>
            </form>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
          <h5 class="text-dark mb-4">Download App</h5>
          <div class="footer-subscribe">
            <p>Download the latest Slick new job apps now</p>
            <div class="d-inline-block">
              <a class="btn btn-white btn-sm btn-app " href="#">
                <i class="fab fa-apple"></i>
                <div class="btn-text text-start">
                  <small class="fw-normal">Download on the </small>
                  <span class="mb-0 d-block">App Store</span>
                </div>
              </a>
              <a class="btn btn-white btn-sm btn-app mt-3" href="#">
                <i class="fab fa-google-play"></i>
                <div class="btn-text text-start">
                  <small class="fw-normal">Get it on  </small>
                  <span class="mb-0 d-block">Google Play</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom bg-dark mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ">
            <div class="d-flex justify-content-md-start justify-content-center">
              <ul class="list-unstyled d-flex mb-0">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="contact-us.html">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 text-center text-md-end mt-4 mt-md-0">
            <p class="mb-0"> &copy;Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="#"> Jobber </a> All Rights Reserved </p>
          </div>
        </div>
      </div>
    </div>
</footer>
<!--=================================
footer -->

<!--=================================
Back To Top-->
   <div id="back-to-top" class="back-to-top">
     <i class="fas fa-angle-up"></i>
   </div>
<!--=================================
Back To Top-->

<!--=================================
Signin Modal Popup -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header p-4">
        <h4 class="mb-0 text-center">Login to Your Account</h4>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <div class="login-register">
          <fieldset>
            <legend class="px-2">Choose your Account Type</legend>
            <ul class="nav nav-tabs nav-tabs-border d-flex" role="tablist">
              <li class="nav-item me-4">
                <a class="nav-link active"  data-bs-toggle="tab" href="#candidate" role="tab" aria-selected="false">
                  <div class="d-flex">
                    <div class="tab-icon">
                      <i class="flaticon-users"></i>
                    </div>
                    <div class="ms-3">
                      <h6 class="mb-0">Candidate</h6>
                      <p class="mb-0">Log in as Candidate</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  data-bs-toggle="tab" href="#employer" role="tab" aria-selected="false">
                  <div class="d-flex">
                    <div class="tab-icon">
                      <i class="flaticon-suitcase"></i>
                    </div>
                    <div class="ms-3">
                      <h6 class="mb-0">Employer</h6>
                      <p class="mb-0">Log in as Employer</p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </fieldset>
          <div class="tab-content">
            <div class="tab-pane active" id="candidate" role="tabpanel">
              <form class="mt-4">
                <div class="row">
                  <div class="form-group col-12 mb-3">
                    <label class="form-label" for="Email2">Username / Email Address:</label>
                    <input type="text" class="form-control" id="Email22">
                  </div>
                  <div class="form-group col-12 mb-3">
                    <label class="form-label" for="password2">Password*</label>
                    <input type="password" class="form-control" id="password32">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <a class="btn btn-primary d-grid" href="#">Sign In</a>
                  </div>
                  <div class="col-md-6">
                    <div class="ms-md-3 mt-3 mt-md-0 forgot-pass">
                      <a href="#">Forgot Password?</a>
                      <p class="mt-1">Don't have account? <a href="register.html">Sign Up here</a></p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="employer" role="tabpanel">
              <form class="mt-4">
                <div class="row">
                  <div class="form-group col-12 mb-3">
                    <label class="form-label" for="Email2">Username / Email Address:</label>
                    <input type="text" class="form-control" id="Email2">
                  </div>
                  <div class="form-group col-12 mb-3">
                    <label class="form-label" for="password2">Password*</label>
                    <input type="password" class="form-control" id="password2">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <a class="btn btn-primary d-grid" href="#">Sign In</a>
                  </div>
                  <div class="col-md-6">
                    <div class="ms-md-3 mt-3 mt-md-0">
                      <a href="#">Forgot Password?</a>
                      <div class="form-check mt-2">
                        <input class="form-check-input" type="checkbox" value="" id="Remember-02">
                        <label class="form-check-label" for="Remember-02">Remember Password</label>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="mt-4">
            <fieldset>
              <legend class="px-2">Login or Sign up with</legend>
              <div class="social-login">
                <ul class="list-unstyled d-flex mb-0">
                  <li class="facebook text-center">
                    <a href="#"> <i class="fab fa-facebook-f me-3 me-md-4"></i>Login with Facebook</a>
                  </li>
                  <li class="twitter text-center">
                    <a href="#"> <i class="fab fa-twitter me-3 me-md-4"></i>Login with Twitter</a>
                  </li>
                  <li class="google text-center">
                    <a href="#"> <i class="fab fa-google me-3 me-md-4"></i>Login with Google</a>
                  </li>
                  <li class="linkedin text-center">
                    <a href="#"> <i class="fab fa-linkedin-in me-3 me-md-4"></i>Login with Linkedin</a>
                  </li>
                </ul>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--=================================
Signin Modal Popup -->

<!--=================================
Javascript -->

    <!-- JS Global Compulsory (Do not remove)-->
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/popper/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="js/jquery.appear.js"></script>
    <script src="js/counter/jquery.countTo.js"></script>
    <script src="js/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="js/custom.js"></script>

</body>
</html>
