<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Jobber - Job Board HTML5 Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jobber - Job Board HTML5 Template</title>

    <!-- Favicon -->
    <link href="images/favicon.ico" rel="shortcut icon" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="css/flaticon/flaticon.css" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />

    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
    <link rel="stylesheet" href="css/owl-carousel/owl.carousel.min.css" />

    <!-- Template Style -->
    <link rel="stylesheet" href="css/style.css" />

  </head>
<body>

<!--=================================
Header -->
<header class="header bg-dark">
  <nav class="navbar navbar-static-top navbar-expand-lg header-sticky">
    <div class="container-fluid">
      <button id="nav-icon4" type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
          <span></span>
          <span></span>
          <span></span>
      </button>
      <a class="navbar-brand" href="index.html">
        <img class="img-fluid" src="images/logo.svg" alt="logo">
      </a>
      <div class="navbar-collapse collapse justify-content-start">
        <ul class="nav navbar-nav">
          <li class="nav-item dropdown active">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home<i class="fas fa-chevron-down fa-xs"></i></a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="index.html">index Default</a></li>
              <li><a class="dropdown-item" href="index-02.html">index 02</a></li>
              <li><a class="dropdown-item" href="index-03.html">index 03</a></li>
              <li><a class="dropdown-item" href="index-map.html">index map</a></li>
              <li><a class="dropdown-item" href="index-slider.html">index Slider</a></li>
              <li class="active"><a class="dropdown-item" href="index-bg-video.html">index bg video</a></li>
              <li><a class="dropdown-item" href="index-splash.html">index splash</a></li>
            </ul>
          </li>
          <li class="dropdown nav-item">
            <a href="properties.html" class="nav-link" data-bs-toggle="dropdown">Pages<i class="fas fa-chevron-down fa-xs"></i></a>
            <ul class="dropdown-menu megamenu dropdown-menu-lg">
              <li>
                <div class="row">
                  <div class="col-sm-4 mb-2 mb-sm-0">
                    <h6 class="mb-3 nav-title">Pages</h6>
                    <ul class="list-unstyled mt-lg-3">
                      <li><a href="about.html">About</a></li>
                      <li><a href="services.html">Services</a></li>
                      <li><a href="pricing.html">Pricing</a></li>
                      <li><a href="career.html">Career</a></li>
                      <li><a href="advertising.html">Advertising</a></li>
                      <li><a href="contact-us.html">Contact Us</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-4 mb-2 mb-sm-0">
                    <h6 class="mb-3 nav-title">Pages</h6>
                    <ul class="list-unstyled mt-lg-3">
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="blog-detail.html">Blog Detail</a></li>
                      <li><a href="post-a-job.html">Post a Job</a></li>
                      <li><a href="faqs.html">Faq</a></li>
                      <li><a href="browse-categories.html">Browse Categories</a></li>
                      <li><a href="browse-locations.html">Browse Locations</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-4">
                    <h6 class="mb-3 nav-title">Pages</h6>
                    <ul class="list-unstyled mt-lg-3">
                      <li><a href="login.html">Login</a></li>
                      <li><a href="register.html">Register</a></li>
                      <li><a href="coming-soon.html">Coming soon</a></li>
                      <li><a href="404-error.html">404 Error</a></li>
                      <li><a href="terms-and-conditions.html">T&C</a></li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="agency-logo pt-4 pb-3">
                      <h6 class="mb-3 nav-title">Top Agency</h6>
                      <ul class="list-unstyled">
                        <li>
                          <div class="job-list">
                            <div class="job-list-logo">
                              <img class="img-fluid" src="images/svg/07.svg" alt="">
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="job-list">
                            <div class="job-list-logo">
                              <img class="img-fluid" src="images/svg/06.svg" alt="">
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="job-list">
                            <div class="job-list-logo">
                              <img class="img-fluid" src="images/svg/05.svg" alt="">
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="job-list">
                            <div class="job-list-logo">
                              <img class="img-fluid" src="images/svg/04.svg" alt="">
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="job-list">
                            <div class="job-list-logo">
                              <img class="img-fluid" src="images/svg/03.svg" alt="">
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Listing <i class="fas fa-chevron-down fa-xs"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="job-grid.html">Job Grid</a></li>
              <li><a class="dropdown-item" href="job-listing.html">Job Listing</a></li>
              <li><a class="dropdown-item" href="job-detail.html">Job Detail</a></li>
              <li><a class="dropdown-item" href="job-listing-map.html">Job Listing Map</a></li>
            </ul>
          </li>
          <li class="dropdown nav-item mega-menu">
            <a href="javascript:void(0)" class="nav-link" data-bs-toggle="dropdown">Elements<i class="fas fa-chevron-down fa-xs"></i></a>
            <ul class="dropdown-menu megamenu">
              <li>
                <div class="row">
                  <div class="col-sm-6 col-lg-5 mb-3 mb-lg-0">
                    <h6 class="mb-3 nav-title">Search Types</h6>
                    <ul class="list-unstyled mt-lg-3">
                      <li><a href="search-style-under-banner.html">Search style under banner</a></li>
                      <li><a href="search-style-above-banner.html">Search style above banner</a></li>
                      <li><a href="search-style-below-banner.html">Search style below banner</a></li>
                      <li><a href="search-style-advanced.html">Advanced Search style</a></li>
                      <li><a href="search-style-classic.html">Search style classic</a></li>
                      <li><a href="search-style-with-filter.html">Search style with filter</a></li>
                      <li><a href="search-style-advanced-02.html">Advanced Search style 02 </a></li>
                      <li><a href="search-style-advanced-03.html">Advanced Search style 03 </a></li>
                    </ul>
                  </div>
                  <div class="col-sm-6 col-lg-3 mb-3 mb-sm-0">
                    <h6 class="mb-3 nav-title">Elements</h6>
                    <ul class="list-unstyled mt-lg-3">
                      <li><a href="element-feature-box.html">Feature box</a></li>
                      <li><a href="element-testimonials.html">Testimonials</a></li>
                      <li><a href="element-accordion.html">Accordion</a></li>
                      <li><a href="element-tabs.html">Tabs</a></li>
                      <li><a href="element-typography.html">Typography</a></li>
                      <li><a href="element-counter.html">counter</a></li>
                      <li><a href="element-countdown.html">Countdown</a></li>
                      <li><a href="element-category.html">Category</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-6 col-lg-4">
                    <div class="menu-banner bg-dark p-3 pt-4 text-center border-radius h-100 d-none d-lg-block">
                        <h5 class="text-primary mb-3 pt-2">Advertise your job with us</h5>
                        <span class="text-light"> Starting from</span>
                        <h3 class="text-white my-3">$99 <small>/mo</small></h3>
                        <p class="text-primary p-2 small text-white">Save 30% for new customer</p>
                        <a class="btn btn-light btn-sm" href="post-a-job.html">Post a job now!</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Employer <i class="fas fa-chevron-down fa-xs"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="employer-grid.html">Employer Grid</a></li>
              <li><a class="dropdown-item" href="employer-listing.html">Employer list</a></li>
              <li><a class="dropdown-item" href="employer-detail.html">Employer detail</a></li>
              <li><a class="dropdown-item" href="employer-listing-map.html">Employer Listing Map</a></li>
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="javascript:void(0)">Dashboard <i class="fas fa-chevron-right fa-xs"></i></a>
                  <ul class="dropdown-menu left-side">
                    <li><a class="dropdown-item" href="dashboard-employer.html">Dashboard</a></li>
                    <li><a class="dropdown-item" href="dashboard-employer-my-profile.html">Profile</a></li>
                    <li><a class="dropdown-item" href="dashboard-employer-change-password.html">Change Password </a></li>
                    <li><a class="dropdown-item" href="dashboard-employer-manage-candidates.html">Manage Candidates</a></li>
                    <li><a class="dropdown-item" href="dashboard-employer-manage-jobs.html">Manage Jobs</a></li>
                    <li><a class="dropdown-item" href="dashboard-employer-post-new-job.html">Post New Job</a></li>
                    <li><a class="dropdown-item" href="dashboard-employer-pricing.html">Pricing</a></li>
                  </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Candidates <i class="fas fa-chevron-down fa-xs"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="candidates-grid.html">Candidates Grid</a></li>
              <li><a class="dropdown-item" href="candidates-listing.html">Candidates list</a></li>
              <li><a class="dropdown-item" href="candidate-detail.html">Candidates detail</a></li>
              <li><a class="dropdown-item" href="candidates-listing-map.html">Candidates Listing Map</a></li>
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="javascript:void(0)">Dashboard <i class="fas fa-chevron-right fa-xs"></i></a>
                  <ul class="dropdown-menu left-side">
                    <li><a class="dropdown-item" href="dashboard-candidates.html">Dashboard</a></li>
                    <li><a class="dropdown-item" href="dashboard-candidates-my-profile.html">Profile</a></li>
                    <li><a class="dropdown-item" href="dashboard-candidates-change-password.html">Change Password </a></li>
                    <li><a class="dropdown-item" href="dashboard-candidates-my-resume.html">My Resume</a></li>
                    <li><a class="dropdown-item" href="dashboard-candidates-manage-jobs.html">Manage Jobs</a></li>
                    <li><a class="dropdown-item" href="dashboard-candidates-saved-jobs.html">Saved Jobs</a></li>
                    <li><a class="dropdown-item" href="dashboard-candidates-pricing.html">Pricing</a></li>
                  </ul>
              </li>
              <li><a class="dropdown-item" href="my-resume.html">My Resume <span class="badge bg-danger ms-2">CV</span></a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="add-listing">
          <div class="login d-inline-block me-4">
            <a href="login.html" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"><i class="far fa-user pe-2"></i>Sign in</a>
          </div>
          <a class="btn btn-white btn-md" href="post-a-job.html"> <i class="fas fa-plus-circle"></i>Post a job</a>
        </div>
    </div>
  </nav>
</header>
<!--=================================
Header -->

<!--=================================
Banner -->
<section class="banner banner-bg-video bg-holder bg-overlay-black-30"  data-jarallax-video="https://www.youtube.com/embed/7e90gBu4pas">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-md-6 align-self-center position-relative">
        <h1 class="text-white mb-2">A stable career is out there. We will help you get it!</h1>
        <p class="lead mb-4 fw-normal text-white">Search over 220,000 jobs today!</p>
        <button type="submit" class="btn btn-primary btn-lg"> Find Out More</button>
      </div>
      <div class="col-md-6">
        <div class="bg-overlay-black-50 p-lg-5 p-4 ms-0 ms-md-5 mt-4 mt-md-0 job-search-form">
          <div class="position-relative">
            <div class="job-search-field">
              <div class="job-search-item">
                <form class="form row">
                  <div class="col-12">
                    <div class="mb-3">
                      <div class="d-flex">
                        <label class="text-white form-label">What</label>
                        <span class="ms-auto text-white">e.g. Job, Company, Title</span>
                      </div>
                      <div class="position-relative left-icon">
                        <input type="text" class="form-control" name="job_title" placeholder="Job Title, Skill or Company">
                        <i class="fas fa-search"></i>
                      </div>
                    </div>
                    <div class="mb-3">
                      <div class="d-flex">
                        <label class="text-white form-label">Where</label>
                        <span class="ms-auto text-white">e.g. City, County or Postcode</span>
                      </div>
                      <div class="position-relative left-icon">
                        <input type="text" class="form-control location-input" name="job_title" placeholder="Town, City or Postcode">
                        <i class="far fa-compass"></i>
                        <a href="#">
                          <div class="detect">
                            <span class="d-none d-sm-block">Detect</span>
                            <i class="fas fa-crosshairs"></i>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="mb-3 form-action mb-0">
                      <button type="submit" class="btn btn-primary btn-lg mt-3"><i class="fas fa-search"></i> Find Jobs</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
Banner -->

<!--=================================
Easiest Way to Use -->
<section class="space-ptb">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="feature-info-03 text-center">
          <div class="feature-info-image bg-overlay-gradient-03 bg-holder" style="background-image: url(images/about/about-05.jpg)">
          </div>
          <div class="feature-info-content">
            <h5 class="mb-3 feature-info-title">Job Alerts</h5>
            <p class="mb-0">Some people will tell you there are four while others may tell you there are eight.</p>
            <a class="btn btn-outline-primary mt-4" href="#">Get Job Alerts</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-info-03 text-center">
          <div class="feature-info-image bg-overlay-gradient-03 bg-holder" style="background-image: url(images/about/about-06.jpg)">
          </div>
          <div class="feature-info-content">
            <h5 class="mb-3 feature-info-title">A-Z Company</h5>
            <p class="mb-0">The sad thing is the majority of people have no clue about what they truly want.</p>
            <a class="btn btn-outline-primary mt-4" href="#">Search companies</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-info-03 text-center mb-0">
          <div class="feature-info-image bg-overlay-gradient-03 bg-holder" style="background-image: url(images/about/about-07.jpg)">
          </div>
          <div class="feature-info-content">
            <h5 class="mb-3 feature-info-title">Job search app</h5>
            <p class="mb-0">Focus is having the unwavering attention to complete what you set out to.</p>
            <a class="btn btn-outline-primary mt-4" href="#">Get the app</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
Easiest Way to Use -->

<!--=================================
Jobs-listing -->
<section class="space-ptb bg-light">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col">
				<div class="section-title-02 text-center mb-4 mb-md-5">
		          <h2>Recently Posted Jobs</h2>
		          <p class="mb-0">There are basically six key areas to higher achievement.</p>
		        </div>
			</div>
		</div>
		<div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="job-list job-grid">
              <div class="job-list-logo">
                <img class="img-fluid" src="images/svg/01.svg" alt="">
              </div>
              <div class="job-list-details">
                <div class="job-list-info">
                  <div class="job-list-title">
                    <h5 class="mb-0"><a href="job-detail.html">Marketing and Communications</a></h5>
                  </div>
                  <div class="job-list-option">
                    <ul class="list-unstyled">
                      <li> <span>via</span> <a href="employer-detail.html">Fast Systems Consultants</a> </li>
                      <li><i class="fas fa-map-marker-alt pe-1"></i>Wellesley Rd, London</li>
                      <li><i class="fas fa-filter pe-1"></i>Accountancy</li>
                      <li><a class="freelance" href="#"><i class="fas fa-suitcase pe-1"></i>Freelance</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job-list-favourite-time"> <a class="job-list-favourite order-2" href="#"><i class="fas fa-heart"></i></a> <span class="job-list-time order-1"><i class="far fa-clock pe-1"></i>1 month ago</span> </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="job-list job-grid">
              <div class="job-list-logo">
                <img class="img-fluid" src="images/svg/02.svg" alt="">
              </div>
              <div class="job-list-details">
                <div class="job-list-info">
                  <div class="job-list-title">
                    <h5 class="mb-0"><a href="job-detail.html">Web Developer – .net</a></h5>
                  </div>
                  <div class="job-list-option">
                    <ul class="list-unstyled">
                      <li> <span>via</span> <a href="employer-detail.html">Pendragon Green Ltd</a> </li>
                      <li><i class="fas fa-map-marker-alt pe-1"></i>Canyon Village, Ramon</li>
                      <li><i class="fas fa-filter pe-1"></i>IT & Telecoms</li>
                      <li><a class="freelance" href="#"><i class="fas fa-suitcase pe-1"></i>Part-Time</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job-list-favourite-time"> <a class="job-list-favourite order-2" href="#"><i class="fas fa-heart"></i></a> <span class="job-list-time order-1"><i class="far fa-clock pe-1"></i>1 month ago</span> </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="job-list job-grid">
              <div class="job-list-logo">
                <img class="img-fluid" src="images/svg/03.svg" alt="">
              </div>
              <div class="job-list-details">
                <div class="job-list-info">
                  <div class="job-list-title">
                    <h5 class="mb-0"><a href="job-detail.html">Payroll and Office Administrator</a></h5>
                  </div>
                  <div class="job-list-option">
                    <ul class="list-unstyled">
                      <li> <span>via</span> <a href="employer-detail.html">Wight Sound Hearing LLC</a> </li>
                      <li><i class="fas fa-map-marker-alt pe-1"></i>New Castle, PA</li>
                      <li><i class="fas fa-filter pe-1"></i>Hospitality & Catering</li>
                      <li><a class="freelance" href="#"><i class="fas fa-suitcase pe-1"></i>Temporary</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job-list-favourite-time"> <a class="job-list-favourite order-2" href="#"><i class="fas fa-heart"></i></a> <span class="job-list-time order-1"><i class="far fa-clock pe-1"></i>1 month ago</span> </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="job-list job-grid">
              <div class="job-list-logo">
                <img class="img-fluid" src="images/svg/04.svg" alt="">
              </div>
              <div class="job-list-details">
                <div class="job-list-info">
                  <div class="job-list-title">
                    <h5 class="mb-0"><a href="job-detail.html">Data Entry Administrator</a></h5>
                  </div>
                  <div class="job-list-option">
                    <ul class="list-unstyled">
                      <li> <span>via</span> <a href="employer-detail.html">Fast Systems Consultants</a> </li>
                      <li><i class="fas fa-map-marker-alt pe-1"></i>Wellesley Rd, London</li>
                      <li><i class="fas fa-filter pe-1"></i>Accountancy</li>
                      <li><a class="freelance" href="#"><i class="fas fa-suitcase pe-1"></i>Freelance</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job-list-favourite-time"> <a class="job-list-favourite order-2" href="#"><i class="fas fa-heart"></i></a> <span class="job-list-time order-1"><i class="far fa-clock pe-1"></i>1 month ago</span> </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="job-list job-grid">
              <div class="job-list-logo">
                <img class="img-fluid" src="images/svg/05.svg" alt="">
              </div>
              <div class="job-list-details">
                <div class="job-list-info">
                  <div class="job-list-title">
                    <h5 class="mb-0"><a href="job-detail.html">Part-Time Sales Assistant</a></h5>
                  </div>
                  <div class="job-list-option">
                    <ul class="list-unstyled">
                      <li> <span>via</span> <a href="employer-detail.html">Fast Systems Consultants</a> </li>
                      <li><i class="fas fa-map-marker-alt pe-1"></i>Wellesley Rd, London</li>
                      <li><i class="fas fa-filter pe-1"></i>Accountancy</li>
                      <li><a class="freelance" href="#"><i class="fas fa-suitcase pe-1"></i>Freelance</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job-list-favourite-time"> <a class="job-list-favourite order-2" href="#"><i class="fas fa-heart"></i></a> <span class="job-list-time order-1"><i class="far fa-clock pe-1"></i>1 month ago</span> </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="job-list job-grid">
              <div class="job-list-logo">
                <img class="img-fluid" src="images/svg/06.svg" alt="">
              </div>
              <div class="job-list-details">
                <div class="job-list-info">
                  <div class="job-list-title">
                    <h5 class="mb-0"><a href="job-detail.html">Stockroom Assistant</a></h5>
                  </div>
                  <div class="job-list-option">
                    <ul class="list-unstyled">
                      <li> <span>via</span> <a href="employer-detail.html">Fast Systems Consultants</a> </li>
                      <li><i class="fas fa-map-marker-alt pe-1"></i>Wellesley Rd, London</li>
                      <li><i class="fas fa-filter pe-1"></i>Accountancy</li>
                      <li><a class="freelance" href="#"><i class="fas fa-suitcase pe-1"></i>Freelance</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job-list-favourite-time"> <a class="job-list-favourite order-2" href="#"><i class="fas fa-heart"></i></a> <span class="job-list-time order-1"><i class="far fa-clock pe-1"></i>1 month ago</span> </div>
            </div>
          </div>
        </div>
        <div class="row">
        	<div class="col text-center">
        		<button type="submit" class="btn btn-outline-primary">View All Open Jobs</button>
        	</div>
        </div>
	</div>
</section>
<!--=================================
Jobs-listing -->

<!--=================================
About -->
<section class="space-pt">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <h2>Grow your business faster with jobber premium advertising</h2>
        <p class="mt-3">I truly believe Augustine’s words are true and if you look at history you know it is true.</p>
        <p>We also know those epic stories, those modern-day legends surrounding the early failures of such supremely successful folks as Michael Jordan and Bill Gates. We can look a bit further back in time to Albert Einstein or even further back to Abraham Lincoln.</p>
        <p>There are many people in the world with amazing talents who realize only a small percentage of their potential. We all know people who live this truth.</p>
        <a class="btn btn-primary mt-3" href="#">Checkout More</a>
      </div>
      <div class="col-lg-5 mt-4 mt-lg-0">
        <img class="img-fluid" src="images/about/about-04.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<!--=================================
About -->

<!--=================================
Advertise A Job -->
<section class="space-pb mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="feature-info feature-info-border p-xl-5 p-4 text-center">
          <div class="feature-info-icon mb-3">
            <i class="flaticon-contract"></i>
          </div>
          <div class="feature-info-content">
            <h5 class="text-black">Advertise A Job</h5>
            <p class="mb-0">Use a past defeat as a motivator. Remind yourself you have nowhere to go except.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="feature-info feature-info-border p-xl-5 p-4 text-center">
          <div class="feature-info-icon mb-3">
            <i class="flaticon-profiles"></i>
          </div>
          <div class="feature-info-content">
            <h5 class="text-black">Recruiter Profiles</h5>
            <p class="mb-0">Let success motivate you. Find a picture of what epitomizes success to you have already.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-info feature-info-border p-xl-5 p-4 text-center">
          <div class="feature-info-icon mb-3">
            <i class="flaticon-job-3"></i>
          </div>
          <div class="feature-info-content">
            <h5 class="text-black">Find Your Dream Job</h5>
            <p class="mb-0">Make a list of your achievements toward your long-term goal and remind your.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
Advertise A Job -->

<!--=================================
Action box -->
<section class="space-ptb bg-holder bg-overlay-black-70" style="background-image: url(images/bg/02.jpg);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center position-relative">
        <div class="section-title-02">
          <span class="text-primary lead fw-bold d-block mb-3">Post OR Get a job</span>
          <h2 class="text-white">Looking for Post OR Get a job? We have end-to-end solutions that can keep up with your criteria.</h2>
        </div>
        <a class="btn btn-primary mb-2 mb-sm-0" href="#">Post a job</a>
        <a class="btn btn-white mb-2 mb-sm-0" href="#">Browse Jobs</a>
      </div>
    </div>
  </div>
</section>
<!--=================================
Action box -->

<!--=================================
Candidate post-box list -->
<section class="space-pt">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-02 text-center">
          <h2>Featured Candidates</h2>
        </div>
      </div>
      <div class="col-md-12">
      <div class="owl-carousel owl-nav-bottom-center" data-nav-arrow="false" data-nav-dots="true" data-items="4" data-md-items="3" data-sm-items="2" data-xs-items="2" data-xx-items="1" data-space="15" data-autoheight="true">
          <div class="item">
            <div class="candidate-list candidate-grid">
			  <div class="candidate-list-image">
			    <img class="img-fluid" src="images/avatar/01.jpg" alt="" >
			  </div>
			  <div class="candidate-list-details">
			    <div class="candidate-list-info">
			      <div class="candidate-list-title">
			        <h5><a href="candidate-detail.html">Carolyn & Dan</a></h5>
			      </div>
			      <div class="candidate-list-option">
			        <ul class="list-unstyled">
			          <li><i class="fas fa-filter pe-1"></i>Recruitment Consultancy</li>
			          <li><i class="fas fa-map-marker-alt pe-1"></i>Paris, Île-de-France</li>
			        </ul>
			      </div>
			    </div>
			  </div>
			  <div class="candidate-list-favourite-time">
			    <a class="candidate-list-favourite order-2" href="#"><i class="far fa-heart"></i></a>
			    <span class="candidate-list-time order-1"><i class="far fa-clock pe-1"></i>1M ago</span>
			  </div>
			</div>
          </div>
          <div class="item">
            <div class="candidate-list candidate-grid">
	          <div class="candidate-list-image">
	            <img class="img-fluid" src="images/avatar/02.jpg" alt="" >
	          </div>
	          <div class="candidate-list-details">
	            <div class="candidate-list-info">
	              <div class="candidate-list-title">
	                <h5><a href="candidate-detail.html">John Doe</a></h5>
	              </div>
	              <div class="candidate-list-option">
	                <ul class="list-unstyled">
	                  <li><i class="fas fa-filter pe-1"></i>Strategy & Consultancy</li>
	                  <li><i class="fas fa-map-marker-alt pe-1"></i>Lynch Lane, Weymouth</li>
	                </ul>
	              </div>
	            </div>
	          </div>
	          <div class="candidate-list-favourite-time">
	            <a class="candidate-list-favourite order-2" href="#"><i class="far fa-heart"></i></a>
	            <span class="candidate-list-time order-1"><i class="far fa-clock pe-1"></i>3M ago</span>
	          </div>
	        </div>
          </div>
          <div class="item">
            <div class="candidate-list candidate-grid">
	          <div class="candidate-list-image">
	            <img class="img-fluid" src="images/avatar/03.jpg" alt="" >
	          </div>
	          <div class="candidate-list-details">
	            <div class="candidate-list-info">
	              <div class="candidate-list-title">
	                <h5><a href="candidate-detail.html">Paul Flavius</a></h5>
	              </div>
	              <div class="candidate-list-option">
	                <ul class="list-unstyled">
	                  <li><i class="fas fa-filter pe-1"></i>General Insurance</li>
	                  <li><i class="fas fa-map-marker-alt pe-1"></i>Ormskirk Rd, Wigan</li>
	                </ul>
	              </div>
	            </div>
	          </div>
	          <div class="candidate-list-favourite-time">
	            <a class="candidate-list-favourite order-2" href="#"><i class="far fa-heart"></i></a>
	            <span class="candidate-list-time order-1"><i class="far fa-clock pe-1"></i>3D ago</span>
	          </div>
	        </div>
          </div>
          <div class="item">
            <div class="candidate-list candidate-grid">
	          <div class="candidate-list-image">
	            <img class="img-fluid" src="images/avatar/04.jpg" alt="" >
	          </div>
	          <div class="candidate-list-details">
	            <div class="candidate-list-info">
	              <div class="candidate-list-title">
	                <h5><a href="candidate-detail.html">Melissa Doe</a></h5>
	              </div>
	              <div class="candidate-list-option">
	                <ul class="list-unstyled">
	                  <li><i class="fas fa-filter pe-1"></i>Construction & Property</li>
	                  <li><i class="fas fa-map-marker-alt pe-1"></i>Botchergate, Carlisle</li>
	                </ul>
	              </div>
	            </div>
	          </div>
	          <div class="candidate-list-favourite-time">
	            <a class="candidate-list-favourite order-2" href="#"><i class="far fa-heart"></i></a>
	            <span class="candidate-list-time order-1"><i class="far fa-clock pe-1"></i>6D ago</span>
	          </div>
	        </div>
          </div>
          <div class="item">
            <div class="candidate-list candidate-grid">
	          <div class="candidate-list-image">
	            <img class="img-fluid" src="images/avatar/05.jpg" alt="" >
	          </div>
	          <div class="candidate-list-details">
	            <div class="candidate-list-info">
	              <div class="candidate-list-title">
	                <h5><a href="candidate-detail.html">Felica Queen</a></h5>
	              </div>
	              <div class="candidate-list-option">
	                <ul class="list-unstyled">
	                  <li><i class="fas fa-filter pe-1"></i>General Insurance</li>
	                  <li><i class="fas fa-map-marker-alt pe-1"></i>Union St, New Delhi</li>
	                </ul>
	              </div>
	            </div>
	          </div>
	          <div class="candidate-list-favourite-time">
	            <a class="candidate-list-favourite order-2" href="#"><i class="far fa-heart"></i></a>
	            <span class="candidate-list-time order-1"><i class="far fa-clock pe-1"></i>2D ago</span>
	          </div>
	        </div>
          </div>
          <div class="item">
            <div class="candidate-list candidate-grid">
	          <div class="candidate-list-image">
	            <img class="img-fluid" src="images/avatar/06.jpg" alt="" >
	          </div>
	          <div class="candidate-list-details">
	            <div class="candidate-list-info">
	              <div class="candidate-list-title">
	                <h5><a href="candidate-detail.html">Sara Lisbon</a></h5>
	              </div>
	              <div class="candidate-list-option">
	                <ul class="list-unstyled">
	                  <li><i class="fas fa-filter pe-1"></i>Strategy & Consultancy</li>
	                  <li><i class="fas fa-map-marker-alt pe-1"></i>Canyon Village, Ramon</li>
	                </ul>
	              </div>
	            </div>
	          </div>
	          <div class="candidate-list-favourite-time">
	            <a class="candidate-list-favourite order-2" href="#"><i class="far fa-heart"></i></a>
	            <span class="candidate-list-time order-1"><i class="far fa-clock pe-1"></i>3W ago</span>
	          </div>
	        </div>
          </div>
      </div>
    </div>
    </div>
  </div>
</section>
<!--=================================
Candidate post-box list -->

<!--=================================
Clients -->
<section class="py-4 py-md-5 our-clients">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="owl-carousel owl-nav-center" data-animateOut="fadeOut" data-nav-dots="false" data-items="6" data-md-items="5" data-sm-items="4" data-xs-items="3" data-xx-items="2" data-space="50">
          <div class="item">
            <img class="img-fluid" src="images/client/amazon.svg" alt="">
          </div>
           <div class="item">
            <img class="img-fluid" src="images/client/flipkart.svg" alt="">
          </div>
          <div class="item">
            <img class="img-fluid" src="images/client/google.svg" alt="">
          </div>
          <div class="item">
            <img class="img-fluid" src="images/client/paypal.svg" alt="">
          </div>
          <div class="item">
            <img class="img-fluid" src="images/client/philips.svg" alt="">
          </div>
          <div class="item">
            <img class="img-fluid" src="images/client/slack.svg" alt="">
          </div>
          <div class="item">
            <img class="img-fluid" src="images/client/spotify.svg" alt="">
          </div>
          <div class="item">
            <img class="img-fluid" src="images/client/stack-overflow.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
Clients -->

<!--=================================
Browse Hundreds of Jobs -->
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="">
          <div class="row align-items-center">
            <div class="col-lg-7 mt-5 mt-lg-0">
	            <div class="section-title-02">
	              <h2>Browse Hundreds of Jobs</h2>
	              <p class="lead">We are efficiently delivering tons of jobs straight to your pocket.</p>
	            </div>
	            <div class="row">
	              <div class="col-md-4">
	                <div class="d-flex mb-md-5 mb-4">
	                  <i class="font-xlll text-primary flaticon-team"></i>
	                  <h6 class="ps-3 align-self-center mb-0">Best talented people</h6>
	                </div>
	              </div>
	              <div class="col-md-4">
	                <div class="d-flex mb-md-5 mb-4">
	                  <i class="font-xlll text-primary flaticon-job-3"></i>
	                  <h6 class="ps-3 align-self-center mb-0">Easy to find candidate</h6>
	                </div>
	              </div>
	              <div class="col-md-4">
	                <div class="d-flex mb-md-5 mb-4">
	                  <i class="font-xlll text-primary flaticon-chat"></i>
	                  <h6 class="ps-3 align-self-center mb-0">Easy to communicate</h6>
	                </div>
	              </div>
	            </div>
	            <div class="d-block d-sm-flex">
	              <a class="btn btn-dark btn-sm btn-app me-0 me-sm-2 mb-2 mb-sm-0 py-2" href="#">
	                <i class="fab fa-apple"></i>
	                <div class="btn-text text-start">
	                  <small class="fw-normal">Download on the </small>
	                  <span class="mb-0 d-block text-white">App Store</span>
	                </div>
	              </a>
	              <a class="btn btn-dark btn-sm btn-app mb-2 mb-sm-0 py-2" href="#">
	                <i class="fab fa-google-play"></i>
	                <div class="btn-text text-start">
	                  <small class="fw-normal">Get it on  </small>
	                  <span class="mb-0 d-block text-white">Google Play</span>
	                </div>
	              </a>
	            </div>
            </div>
            <div class="col-lg-5 mt-5 mt-lg-5 text-center">
              <img class="img-fluid" src="images/mobile-app.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
Browse Hundreds of Jobs -->

<!--=================================
Browse-job -->
<section class="space-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title-02 text-center">
          <h2>Need Any Help?</h2>
          <p>It really comes down to understanding the steps in the process and then executing on those steps.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="info-box-1 bg-light h-100 p-lg-5 p-4">
          <h4>Chat To Us Online</h4>
          <p>Chat to us online if you have any question.</p>
          <a class="mt-2 mb-0 d-block" href="#"> Click here to open chat </a>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="info-box-1 bg-primary h-100 p-lg-5 p-4">
          <h4 class="text-white">Call us</h4>
          <p class="text-white">Our support agent will work with you to meet your lending needs.</p>
          <h5 class="text-white mt-2 mb-0">(123) 345-6789</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info-box-1 bg-dark h-100 p-lg-5 p-4">
          <h4 class="text-white">Read our latest news</h4>
          <p class="text-white">Visit our Blog page and know more about news and career tips</p>
          <a class="mt-2 mb-0 d-block" href="#"> Read Blog Post </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
Browse-job -->

<!--=================================
Action box & Counter -->
<section class="bg-light py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 mb-4 mb-sm-5 mb-lg-0">
        <div class="d-sm-flex">
          <div class="align-self-center footer-top-logo"><img class="img-fluid" src="images/logo-dark.svg" alt=""></div>
          <div class="ps-sm-3 ms-sm-3 mt-3 mt-sm-0 border-sm-start ">Create a free account to find thousands of Jobs, Employment & Career Opportunities around you!</div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="row">
          <div class="col-sm-6">
            <div class="counter mb-4 mb-sm-0">
              <div class="counter-icon">
                <i class="flaticon-team"></i>
              </div>
              <div class="counter-content">
                <span class="timer mb-1 text-dark" data-to="1562" data-speed="10000">1,562</span>
                <label class="mb-0 form-label">Jobs Posted</label>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="counter">
              <div class="counter-icon">
                <i class="flaticon-job-3"></i>
              </div>
              <div class="counter-content">
                <span class="timer mb-1 text-dark" data-to="240" data-speed="10000">240</span>
                <label class="mb-0 form-label">Companies</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
Action box & Counter -->

<!--=================================
Footer-->
<footer class="footer mt-0">
  <div class="container pb-5">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer-link">
          <h5 class="text-dark mb-4">For Candidates</h5>
          <ul class="list-unstyled">
            <li><a href="#">Browse Jobs</a></li>
            <li><a href="#">Browse Categories</a></li>
            <li><a href="#">Submit Resume</a></li>
            <li><a href="#">Candidate Dashboard</a></li>
            <li><a href="#">Job Alerts</a></li>
            <li><a href="#">My Bookmarks</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
        <div class="footer-link">
          <h5 class="text-dark mb-4">For Employers</h5>
          <ul class="list-unstyled">
            <li><a href="#">Browse Candidates</a></li>
            <li><a href="#">Browse Categories</a></li>
            <li><a href="#">Employer Dashboard</a></li>
            <li><a href="#">Add Job</a></li>
            <li><a href="#">Job Packages</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
        <div class="footer-link">
          <h5 class="text-dark mb-4">Partner Sites</h5>
          <ul class="list-unstyled">
            <li><a href="#">Shortcodes</a></li>
            <li><a href="#">Job Page</a></li>
            <li><a href="#">Job Page Alternative </a></li>
            <li><a href="#">Resume Page</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact-us.html">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
        <div class="footer-contact-info bg-holder" style="background-image: url(images/google-map.png);">
          <h5 class="text-dark mb-4">Contact Us</h5>
          <ul class="list-unstyled mb-0">
            <li> <i class="fas fa-map-marker-alt text-primary"></i><span>214 West Arnold St. New York, NY 10002</span> </li>
            <li> <i class="fas fa-mobile-alt text-primary"></i><span>+(123) 345-6789</span> </li>
            <li> <i class="far fa-envelope text-primary"></i><span>support@jobber.demo</span> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="border-bottom"></div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-center text-md-start">
          <p class="mb-0"> &copy;Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="#"> Jobber </a> All Rights Reserved </p>
        </div>
        <div class="col-md-4 mt-4 mt-md-0">
          <div class="social d-flex justify-content-lg-end justify-content-center">
            <ul class="list-unstyled">
              <li class="facebook"><a href="#">FB</a></li>
              <li class="twitter"><a href="#">TW</a></li>
              <li class="linkedin"><a href="#">IN</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--=================================
Footer-->

<!--=================================
Back To Top-->
   <div id="back-to-top" class="back-to-top">
     <i class="fas fa-angle-up"></i>
   </div>
<!--=================================
Back To Top-->

<!--=================================
Signin Modal Popup -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header p-4">
        <h4 class="mb-0 text-center">Login to Your Account</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
       <div class="login-register">
          <fieldset>
            <legend class="px-2">Choose your Account Type</legend>
            <ul class="nav nav-tabs nav-tabs-border d-flex" role="tablist">
              <li class="nav-item me-4">
                <a class="nav-link active"  data-bs-toggle="tab" href="#candidate" role="tab" aria-selected="false">
                  <div class="d-flex">
                    <div class="tab-icon">
                      <i class="flaticon-users"></i>
                    </div>
                    <div class="ms-3">
                      <h6 class="mb-0">Candidate</h6>
                      <p class="mb-0">Log in as Candidate</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  data-bs-toggle="tab" href="#employer" role="tab" aria-selected="false">
                  <div class="d-flex">
                    <div class="tab-icon">
                      <i class="flaticon-suitcase"></i>
                    </div>
                    <div class="ms-3">
                      <h6 class="mb-0">Employer</h6>
                      <p class="mb-0">Log in as Employer</p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </fieldset>
          <div class="tab-content">
            <div class="tab-pane active" id="candidate" role="tabpanel">
              <form class="mt-4">
                <div class="row">
                  <div class="mb-3 col-12">
                    <label class="form-label" for="Email2">Username / Email Address:</label>
                    <input type="text" class="form-control" id="Email22">
                  </div>
                  <div class="mb-3 col-12">
                    <label class="form-label" for="password2">Password*</label>
                    <input type="password" class="form-control" id="password32">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <a class="btn btn-primary d-grid" href="#">Sign In</a>
                  </div>
                  <div class="col-md-6">
                    <div class="ms-md-3 mt-3 mt-md-0 forgot-pass">
                      <a href="#">Forgot Password?</a>
                      <p class="mt-1">Don't have account? <a href="register.html">Sign Up here</a></p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="employer" role="tabpanel">
              <form class="mt-4">
                <div class="row">
                  <div class="mb-3 col-12">
                    <label class="form-label" for="Email2">Username / Email Address:</label>
                    <input type="text" class="form-control" id="Email2">
                  </div>
                  <div class="mb-3 col-12">
                    <label class="form-label" for="password2">Password *</label>
                    <input type="password" class="form-control" id="password2">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <a class="btn btn-primary d-grid" href="#">Sign up</a>
                  </div>
                  <div class="col-md-6">
                    <div class="ms-md-3 mt-3 mt-md-0">
                      <a href="#">Forgot Password?</a>
                      <div class="custom-control custom-checkbox mt-2">
                        <input type="checkbox" class="custom-control-input" id="Remember-02">
                        <label class="custom-control-label form-label" for="Remember-02">Remember Password</label>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="mt-4">
            <fieldset>
              <legend class="px-2">Login or Sign up with</legend>
              <div class="social-login">
                <ul class="list-unstyled d-flex mb-0">
                  <li class="facebook text-center">
                    <a href="#"> <i class="fab fa-facebook-f me-4"></i>Login with Facebook</a>
                  </li>
                  <li class="twitter text-center">
                    <a href="#"> <i class="fab fa-twitter me-4"></i>Login with Twitter</a>
                  </li>
                  <li class="google text-center">
                    <a href="#"> <i class="fab fa-google me-4"></i>Login with Google</a>
                  </li>
                  <li class="linkedin text-center">
                    <a href="#"> <i class="fab fa-linkedin-in me-4"></i>Login with Linkedin</a>
                  </li>
                </ul>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--=================================
Signin Modal Popup -->

<!--=================================
Javascript -->

    <!-- JS Global Compulsory (Do not remove)-->
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/popper/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="js/jquery.appear.js"></script>
    <script src="js/counter/jquery.countTo.js"></script>
    <script src="js/owl-carousel/owl-carousel.min.js"></script>
    <script src="js/jarallax/jarallax.min.js"></script>
    <script src="js/jarallax/jarallax-video.min.js"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="js/custom.js"></script>

</body>
</html>
